.wrapper-form {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 85vw;

  .line-w {
    width: 100%;
  }
}

ion-item {
  font-size: 13px;
}

.date {
  color: gray;
  text-align: center;
}

.note {
  font-size: 11px;
  position: relative;
  bottom: 10px;
}

.no-license {
  padding-top: 20px;
  text-align: center;
}

.btn-loading {
  width: 110px;
}
