<app-header backButton="/tabs/profile" title="Administrar cuenta"></app-header>

<ion-content>
  <div *ngIf="license$ | async as license">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h3>Membresía</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <img
            style="width: 90%; height: 90%"
            src="../../../../assets/img/licenced-img.svg"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="fixed">Estado:</ion-label>
              <ion-input
                ><span *ngIf="license.status === 'active'">Activa</span>
                <span *ngIf="license.status === 'inactive'"
                  >Inactiva</span
                ></ion-input
              >
            </ion-item>

            <ion-item>
              <ion-label position="fixed">Desde:</ion-label>
              <ion-input
                >{{ license.begins.toDate() | date: 'dd-MM-yyyy' }}</ion-input
              >
            </ion-item>

            <ion-item>
              <ion-label position="fixed">Hasta:</ion-label>
              <ion-input
                >{{ license.ends.toDate() | date: 'dd-MM-yyyy' }}</ion-input
              >
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="(license$ | async) === null">
    <div class="form">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <h3 style="margin: 0px 10px 20px 10px">
              Ingresa el código de licencia
            </h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <img
              style="width: 85%; height: 85%"
              src="../../../../assets/img/nonlicence-img.svg"
            />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="padding-top: 10px">
            <app-input-gradient
              max="20"
              label="Código"
              type="text"
              [formControlValue]="redeemCode"
            >
            </app-input-gradient>
            <div
              class="validators"
              *ngIf="redeemCode.dirty && redeemCode.errors"
            >
              <span *ngIf="redeemCode.errors?.['minlength']"
                >El formato de la licencia es inválido</span
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Button Redeem-->
      <div *ngIf="!loading" class="btn-gradient">
        <ion-button
          (click)="getLicense()"
          [disabled]="redeemCode.invalid"
          mode="ios"
        >
          <span>Validar</span>
        </ion-button>
      </div>

      <!-- Button Loading-->
      <div *ngIf="loading" class="btn-gradient">
        <ion-button class="btn-loading" disabled mode="ios">
          <span>
            <ion-spinner slot="end" color="dark"></ion-spinner>
          </span>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
