<app-header backButton="/tabs/profile" title="Membresía"></app-header>
<div class="title">
  <h3 *ngIf="licencia">Detalle de la membresía</h3>
  <h3 *ngIf="!licencia">Ingresa el código de licencia</h3>
</div>
<ion-content>
  <div *ngIf="licencia" class="form">
    <ion-list>
      <ion-item>
        <ion-label position="fixed">Estado:</ion-label>
        <ion-input>{{ licencia }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Desde:</ion-label>
        <ion-input>{{ licencia }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Hasta:</ion-label>
        <ion-input>{{ licencia }}</ion-input>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!licencia" class="wrapper-form">
    <div>
      <div class="form">
        <!-- Licencia/Número de serie  -->
        <app-input-gradient
          max="20"
          label="Licencia/Número de serie"
          type="text"
          [formControlValue]="licenseId"
        >
        </app-input-gradient>
        <!-- <div class="note">El código de licencia expira una vez redimido.</div> -->
        <div class="validators" *ngIf="licenseId.dirty && licenseId.errors">
          <span *ngIf="licenseId.errors?.['minlength']"
            >El formato de la licencia es inválido</span
          >
        </div>

        <!-- Button Redeem-->
        <div *ngIf="!loading && !licencia" class="btn-gradient">
          <ion-button
            (click)="getLicense()"
            [disabled]="licenseId.invalid || user.license"
            mode="ios"
          >
            <span>Validar</span>
          </ion-button>
        </div>

        <!-- Button Loading-->
        <div *ngIf="loading" class="btn-gradient">
          <ion-button class="btn-loading" disabled mode="ios">
            <span>
              <ion-spinner slot="end" color="dark"></ion-spinner>
            </span>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
