.form{
    padding: 20px 20px 0px 20px;
}

.photo-spinner{
    border: 2px solid var(--ion-color-primary);
    border-radius: 100%;
    padding: 55px;
}

.btn-loading{
    width: 130px;
}

.change-password{
    text-align: center;
    padding-top: 40px;
    color: var(--ion-color-primary);
    text-decoration: underline;
}