<app-header backButton="/login"></app-header>

<ion-content>
  <div class="wrapper">
    <div>
      <div class="header">
        <app-logo></app-logo>
        <h6>Olvidé mi contraseña</h6>
      </div>

      <div class="form">
        <app-input-gradient
          label="Correo Electrónico"
          type="email"
          [formControlValue]="email"
        >
        </app-input-gradient>
        <div class="validators" *ngIf="email.dirty && email.errors">
          <span *ngIf="email.errors?.['required']">Ingresa tu email</span>
          <span *ngIf="email.errors?.['email']">Ingresa un email válido</span>
        </div>
      </div>

      <div class="btn-gradient">
        <ion-button
          (click)="sendRecoveryEmail()"
          [disabled]="!validator()"
          mode="ios"
        >
          <span>Recuperar</span>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
