<ion-toolbar *ngIf="backButton" class="back-toolbar">
  <ion-buttons slot="start">
    <ion-back-button [defaultHref]="backButton" text="Volver" icon="chevron-back"></ion-back-button>
    <ion-button *ngIf="closeModal" (click)="close()" shape="round">
      <ion-icon color="light" style="font-size: 25px;" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-toolbar [ngClass]="{'toolbar-sm': backButton}">
  <ion-title>{{title}}</ion-title>
</ion-toolbar>
<div class="line-gradient"></div>