.toolbar-sm {
  --min-height: 25px;
  padding-bottom: 10px;
  --ion-background-color: var(--ion-color-primary);
}

.back-toolbar {
  --min-height: 45px;
  --padding-bottom: 0;
  color: var(--ion-color-secondary);
  --ion-background-color: var(--ion-color-primary);
}

ion-back-button {
  text-transform: capitalize;
}
