<!-- <app-header title="Analizar"></app-header> -->

<ion-content>
  <div class="wrapper">
    <div>
      <div class="user-info row">
        <ion-grid>
          <ion-row size="auto">
            <ion-col style="vertical-align: bottom">
              <h4>Analizar</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="btn-container">
        <ion-grid>
          <ion-row class="btn" (click)="continueWithActiveReport()">
            <ion-col align-items-center class="bg-icon-btn" size="2">
              <ion-icon class="icon-btn" name="create-outline"></ion-icon>
            </ion-col>

            <ion-col align-items-start class="label-btn">
              Continuar análisis
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col align-items-center>
              <div>
                <ion-icon
                  src="assets/icon/wt_Property 1=Analyze Second.svg"
                ></ion-icon>
              </div>
              <div class="btn-gradient">
                <ion-button
                  mode="ios"
                  [disabled]="!licenseActive"
                  (click)="confirmNewReportBeforeContinue()"
                >
                  <span>Nuevo análisis</span>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
