<app-header title="Análisis"></app-header>

<ion-content>

    <div class="wrapper">
        <div>

            <!-- Nuevo análisis -->
            <div class="ion-padding-bottom">
                <ion-card (click)="newAnalysis()">
                    <div>
                        <ion-icon src="assets/icon/icon-analisis.svg"></ion-icon>
                        <h2 class="ion-no-margin">Nuevo Análisis</h2>
                    </div>
                </ion-card>
            </div>

             <!-- Continuar análisis -->
             <div class="ion-padding-bottom">
                <ion-card>
                    <div>
                        <ion-icon src="assets/icon/icon-reportes.svg"></ion-icon>
                        <h2 class="ion-no-margin">Continuar Análisis</h2>
                    </div>
                </ion-card>
            </div>

        </div>
    </div>

</ion-content>