.wrapper {
  display: flex;
  justify-content: center;
}

.user-info {
  position: absolute;
  top: 0px;
  height: 100px;
  width: 85vw;
  background: var(--ion-color-primary);
  border-radius: 0px 0px 100px 100px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 50px;
}

.btn-container {
  position: relative;
  top: 150px;
  width: 85vw;
  justify-content: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
