.gradient-border {
  width: 100%;
  position: relative;
  padding: 2px;
  border-radius: 15px;

  .wrapper {
    width: 100%;
    background: white;
    border-radius: 15px;
    padding: 5px;
  }

  .btn-loading {
    width: 130px;
  }
}
