<ion-content>
  <div class="gradient-border">
    <div class="wrapper">
      <app-header closeModal="true"></app-header>

      <div class="ion-padding ion-text-center">
        <h3>Cambiar Contraseña</h3>
      </div>

      <!-- Password -->
      <div class="ion-padding-horizontal">
        <app-input-gradient label="Nueva Contraseña" type="password" [formControlValue]="password"></app-input-gradient>
        <div class="validators" *ngIf="password.dirty && password.errors">
          <span *ngIf="password.errors?.['required']">La contraseña es requerida</span>
          <span *ngIf="password.errors?.['pattern']">
            La contraseña debe contener:
            <ul>
                <li>Mínimo 8 caracteres</li>
                <li>Al menos un número</li>
                <li>Al menos una letra mayúscula</li>
                <li>Al menos una letra minúscula</li>
                <li>Al menos un caracter especial ($@$!%*?&.)</li>
            </ul>
        </span>
        </div>
      </div>

       <!-- Confirm Password -->
       <div class="ion-padding-horizontal">
        <app-input-gradient label="Confirmar Contraseña" type="password" [formControlValue]="confirmPassword"></app-input-gradient>
        <div class="validators" *ngIf="confirmPassword.dirty && confirmPassword.errors">
          <span *ngIf="confirmPassword.errors?.['required']">Confirma tu contraseña</span>
        </div>
        <div class="validators" *ngIf="confirmPassword.value">
          <span *ngIf="confirmPassword.value !== password.value">Las contraseñas no coinciden</span>
        </div>
   
      </div>

   

      <!-- Button -->
      <div *ngIf="!loading" style="padding-top: 0;" class="btn-gradient">
        <ion-button (click)="updatePassword()" [disabled]="!validator()" mode="ios">
          <span>Actualizar</span>
        </ion-button>
      </div>

      <!-- Button Loading-->
      <div *ngIf="loading" style="padding-top: 0;" class="btn-gradient">
        <ion-button class="btn-loading" disabled mode="ios">
          <span>
            <ion-spinner slot="end" color="dark"></ion-spinner>
          </span>
        </ion-button>
      </div>


    </div>
  </div>

</ion-content>