<app-header backButton="/tabs/analysis" title="Análisis"></app-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col align-items-center class="btn-container">
        <ion-row class="btn" (click)="openEspecie()">
          <ion-col align-items-center class="bg-icon-btn" size="2">
            <ion-icon
              style="font-size: 24px"
              src="../../../../assets/icon/especie_search.svg"
            ></ion-icon>
          </ion-col>

          <ion-col
            *ngIf="!this.especie.value"
            align-items-start
            class="label-btn"
          >
            Seleccionar especie
          </ion-col>
          <ion-col
            *ngIf="this.especie.value"
            align-items-start
            class="label-btn"
          >
            {{ this.especie.value }}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-items-center>
        <div class="ion-text-center d-flex">
          <img *ngIf="!this.photo.value" src="assets/icon/wt_Group459.svg" />

          <img
            style="width: 250px; height: 250px"
            *ngIf="this.photo.value && !loadingPhoto"
            [src]="this.photo.value"
          />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-items-center>
        <div class="ion-text-center d-flex">
          <ion-button class="rounded-button" mode="ios" (click)="takePhoto()">
            <ion-icon
              class="icon-big"
              color="primary"
              src="../../../../assets/icon/wt_analisis_camera.svg"
            ></ion-icon>
          </ion-button>
          <p>Tomar</p>
        </div>
      </ion-col>
      <ion-col align-items-center>
        <div class="ion-text-center d-flex">
          <ion-button class="rounded-button" mode="ios" (click)="uploadPhoto()">
            <ion-icon
              class="icon-big"
              color="dark"
              src="../../../../assets/icon/wt_analisis_upload.svg"
            ></ion-icon>
          </ion-button>
          <p>Subir</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-items-center>
        <div class="btn-gradient">
          <ion-button
            mode="ios"
            (click)="saveWood()"
            [disabled]="!this.photo.value || !this.especie.value"
          >
            <span>Analizar</span>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
