.form {
  padding: 20px 20px 0px 20px;
}

.rounded-button {
  margin-top: 20px;
  --border-radius: 100px;
  --padding-end: 3px;
  --padding-start: 3px;
  height: 65px;
  width: 65px;
}

.icon-big {
  font-size: 40px;
  display: block;
  color: blue;
}
