<app-header
  backButton="/tabs/profile/admin-account"
  title="Empresa"
></app-header>
<ion-content>
  <div class="form">
    <!-- Photo -->
    <div class="ion-text-center ion-padding-bottom">
      <ion-spinner
        *ngIf="loadingPhoto"
        class="photo-spinner"
        color="secondary"
      ></ion-spinner>

      <ion-icon
        *ngIf="!photo.value && !loadingPhoto"
        class="default-photo"
        name="person-circle-outline"
      >
      </ion-icon>

      <ion-avatar class="photo" *ngIf="photo.value && !loadingPhoto">
        <img [src]="photo.value" />
      </ion-avatar>
    </div>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre de la empresa</ion-label>
        <ion-input>{{ companyName.value }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">NIT</ion-label>
        <ion-input>{{ nit.value }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input>{{ companyAddress.value }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">País</ion-label>
        <ion-input>{{ country.value | date:'dd/MM/yyyy' }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Departamento</ion-label>
        <ion-input>{{ department.value }}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ciudad</ion-label>
        <ion-input>{{ town.value }}</ion-input>
      </ion-item>
    </ion-list>

    <!-- Button Loading-->
    <div *ngIf="loading" class="btn-gradient">
      <ion-button class="btn-loading" disabled mode="ios">
        <span>
          <ion-spinner slot="end" color="dark"></ion-spinner>
        </span>
      </ion-button>
    </div>
  </div>
</ion-content>
