ion-card{
    border-radius: 20px;
    padding: 15px 0px 15px 0px;
}

ion-item{
    font-size: 14px;
}

ion-col{
    text-align: center;
}

.border-start{
    border-left: 1px solid #cfcfcf;
}

.border-end{
    border-right: 1px solid #cfcfcf;
}