<app-header backButton="/tabs/profile" title="Administrar cuenta"></app-header>

<ion-content>
  <div class="form">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input>{{ fullName.value }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input>{{ email.value }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"> Celular</ion-label>
        <ion-input>{{ movil.value }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha de nacimiento</ion-label>
        <ion-input>{{ fNacimiento.value | date:'dd/MM/yyyy' }}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Tipo de documento</ion-label>
        <ion-input>{{ docType.value }}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Documento</ion-label>
        <ion-input>{{ docNumber.value }}</ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<div class="btn-container">
  <ion-grid>
    <ion-row class="btn" routerLink="membership">
      <ion-col align-items-center class="bg-icon-btn" size="2">
        <ion-icon class="icon-btn" name="create-outline"></ion-icon>
      </ion-col>

      <ion-col align-items-start class="label-btn">
        Estado de la membresía
      </ion-col>
    </ion-row>
    <ion-row class="btn" routerLink="owner">
      <ion-col align-items-center class="bg-icon-btn" size="2">
        <ion-icon class="icon-btn" name="create-outline"></ion-icon>
      </ion-col>

      <ion-col align-items-start class="label-btn"> Editar perfil </ion-col>
    </ion-row>
    <ion-row class="btn" routerLink="reset-password">
      <ion-col align-items-center class="bg-icon-btn" size="2">
        <ion-icon class="icon-btn" name="help-circle-outline"></ion-icon>
      </ion-col>

      <ion-col align-items-start class="label-btn" (click)="updatePassword()">
        Cambiar contraseña
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
