<app-header backButton="/tabs/profile" title="Administrar cuenta"></app-header>
<ion-content>

  <div class="wrapper">

    <div>

      <div class="btn-container">
        <!-- Propietario -->
        <app-input-gradient routerLink="owner" icon="create-outline" label="Propietario" type="button">
        </app-input-gradient>

        <!-- Company -->
        <app-input-gradient routerLink="company" icon="create-outline" label="Empresa" type="button">
        </app-input-gradient>

        <!-- Operators -->
        <app-input-gradient routerLink="operators" icon="create-outline" label="Operadores" type="button">
        </app-input-gradient>


        <!-- Properties -->
        <app-input-gradient routerLink="properties" icon="create-outline" label="Predios" type="button">
        </app-input-gradient>
      </div>

    </div>

  </div>


</ion-content>