.form {
  padding: 10px 20px 0px 20px;
}

.btn-container {
  padding: 30px 20px;
  width: 100%;
}

.btn {
  width: 100%;
  height: 40px;
  background-color: var(--ion-color-primary);
  border-radius: 25px;
  margin-bottom: 15px;
}

.bg-icon-btn {
  width: 15%;
  height: 40px;
  background-color: var(--ion-color-secondary);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-btn {
  padding: 9px 15px;
}

ion-item {
  --border-width: 0 0 2px 0;
  --border-color: var(--ion-color-secondary);
}
