<ion-content>
  <div class="gradient-border">
    <div class="wrapper">
      <app-header closeModal="true"></app-header>

      <div class="ion-padding ion-text-center">
        <h2>Lote Requerido</h2>
        <div>Selecciona el lote al que pertenecen los árboles analizados</div>
      </div>

      <!-- Lote -->
      <app-input-gradient
        [selectOptions]="properties"
        label="Lote"
        type="select"
        [formControlValue]="property"
      >
      </app-input-gradient>
      <div class="validators" *ngIf="property.touched && property.errors">
        <span *ngIf="property.errors?.['required']"
          >Selecciona el lote al que pertenecen los árboles analizados</span
        >
      </div>

      <!-- Button -->
      <div *ngIf="!loading" class="btn-gradient">
        <ion-button (click)="submit()" [disabled]="!validator()" mode="ios">
          <span>Confirmar</span>
        </ion-button>
      </div>

      <!-- Button Loading-->
      <div *ngIf="loading" class="btn-gradient">
        <ion-button class="btn-loading" disabled mode="ios">
          <span>
            <ion-spinner slot="end" color="dark"></ion-spinner>
          </span>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
