<ion-content>
  <div class="gradient-border">
    <div class="wrapper">
      <app-header closeModal="true"></app-header>

      <div class="ion-padding ion-text-center">
        <h2>Elige el formato del reporte</h2>

        <!-- Descargar PDF -->
        <div class="ion-padding-vertical">
          <div>Descargar como PDF:</div>
          <div style="padding-top: 0;" class="btn-gradient">
            <ion-button (click)="PDF()" mode="ios">
              <span>PDF</span>
            </ion-button>
          </div>
        </div>

        <!-- Descargar Excel -->
        <div class="ion-padding-top">
          <div>Descargar como Excel:</div>
          <div style="padding-top: 0;" class="btn-gradient">
            <ion-button (click)="Excel()" mode="ios">
              <span>Excel</span>
            </ion-button>
          </div>
        </div>


      </div>

    </div>
  </div>

</ion-content>