<app-header backButton="/login" title="Recuperar contraseña"></app-header>

<ion-content>
  <ion-grid class="wrapper">
    <ion-row>
      <ion-col align-items-center style="text-align: center">
        <h3>Olvidé mi contraseña</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-items-center>
        <div class="form">
          <app-input-gradient
            label="Correo Electrónico"
            type="email"
            [formControlValue]="email"
          >
          </app-input-gradient>
          <div class="validators" *ngIf="email.dirty && email.errors">
            <span *ngIf="email.errors?.['required']">Ingresa tu email</span>
            <span *ngIf="email.errors?.['email']">Ingresa un email válido</span>
          </div>
          <p class="underline">
            Se enviará un correo con instrucciones para la recuperación de la
            contraseña.
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-items-center>
        <div class="btn-gradient">
          <ion-button
            (click)="sendRecoveryEmail()"
            [disabled]="!validator()"
            mode="ios"
          >
            <span>Enviar</span>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
