.wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  // height: 60vh;
}

.form {
  padding-top: 10px;
}

.underline {
  margin: 0px 20px;
  color: var(--ion-color-medium);
}
