ion-tab-bar {
  margin: 10px;
  --background: var(--ion-color-primary);
  border-radius: 40px;
  width: 95%;
  height: 80px;

  ion-tab-button {
    --background: transparent;
    --color: #201a18;
    --color-selected: var(--ion-color-light-tint);

    ion-icon {
      font-size: 35px;
      --color: #201a18;
      --color-selected: var(--ion-color-light-tint);
    }
  }
}
