ion-tab-bar {
  margin: 10px;
  --background: var(--ion-color-primary);
  border-radius: 40px;
  width: 95%;
  height: 80px;

  ion-tab-button {
    --background: transparent;

    ion-icon {
      font-size: 37px;
    }
  }
}
