<app-header backButton="/tabs/analysis" title="Nuevo análisis"></app-header>
<ion-content>
  <div class="wrapper">
    <div class="form">
      <!-- Departamento  -->

      <app-input-gradient
        [selectOptions]="departments"
        label="Departamento"
        type="select"
        [formControlValue]="department"
      ></app-input-gradient>
      <div class="validators" *ngIf="department.touched && department.errors">
        <span *ngIf="department.errors?.['required']"
          >Selecciona el departamento donde está ubicada la empresa</span
        >
      </div>

      <!-- Municipio  -->
      <div>
        <app-input-gradient
          [selectOptions]="towns"
          label="Municipio"
          type="select"
          [formControlValue]="town"
        >
        </app-input-gradient>
        <div class="validators" *ngIf="town.touched && town.errors">
          <span *ngIf="town.errors?.['required']"
            >Selecciona el municipio donde está ubicada la empresa</span
          >
        </div>
      </div>

      <app-input-gradient
        label="Número de guía"
        type="string"
        [formControlValue]="guia"
      >
      </app-input-gradient>
      <div class="validators" *ngIf="guia.dirty && guia.errors">
        <span *ngIf="guia.errors?.['required']">Ingresa el No. de guía.</span>
      </div>

      <app-input-gradient
        label="Placa"
        type="string"
        [formControlValue]="placa"
      >
      </app-input-gradient>
      <div class="validators" *ngIf="placa.dirty && placa.errors">
        <span *ngIf="placa.errors?.['required']"
          >Ingresa la placa del vehiculo.</span
        >
      </div>

      <!-- Añadir Ubicación -->
      <div
        *ngIf="longitude && latitude"
        class="animate__animated animate__fadeIn label"
      >
        Ubicación
      </div>
      <app-input-gradient
        class=".label-left"
        icon="location-outline"
        label="{{longitude && latitude ? latitude+', '+longitude : 'Añadir Ubicación'}}"
        type="button"
      >
      </app-input-gradient>

      <!-- Button -->
      <div *ngIf="!loading" class="btn-gradient">
        <ion-button
          (click)="updateReport()"
          [disabled]="!validator()"
          mode="ios"
        >
          <span>Comenzar</span>
        </ion-button>
      </div>

      <!-- Button Loading-->
      <div *ngIf="loading" class="btn-gradient">
        <ion-button class="btn-loading" disabled mode="ios">
          <span>
            <ion-spinner slot="end" color="dark"></ion-spinner>
          </span>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
