.btn-loading {
  width: 115px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form {
  width: 85vw;
}

.gradient-input[_ngcontent-ryf-c150]
  ion-buttons[_ngcontent-ryf-c150]
  ion-button[_ngcontent-ryf-c150] {
  height: 50px !important;
}

.btn {
  width: 100%;
  height: 40px;
  background-color: var(--ion-color-primary);
  border-radius: 25px;
  margin-bottom: 15px;
}

.bg-icon-btn {
  width: 15%;
  height: 40px;
  background-color: var(--ion-color-secondary);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-btn {
  padding: 9px 15px;
}
