<app-header backButton="/tabs/analysis" title="Nuevo análisis"></app-header>
<ion-content>
  <div class="wrapper">
    <div class="form">
      <!-- Departamento  -->

      <app-input-costum
        [selectOptions]="this.departamentos"
        [viewField]="'nombre'"
        [valueField]="'nombre'"
        label="Departamento"
        type="select"
        [formControlValue]="departamento"
      ></app-input-costum>
      <div class="validators" *ngIf="departamento.dirty && departamento.errors">
        <span *ngIf="departamento.errors?.['required']"
          >Selecciona el departamento donde está ubicada la empresa</span
        >
      </div>

      <!-- Municipio  -->
      <app-input-costum
        [selectOptions]="this.municipios"
        [viewField]="'nombre'"
        [valueField]="'nombre'"
        label="Municipio"
        type="select"
        [formControlValue]="municipio"
        (disabled)="!departamento.value"
      ></app-input-costum>
      <div class="validators" *ngIf="municipio.dirty && municipio.errors">
        <span *ngIf="municipio.errors?.['required']"
          >Selecciona el municipio donde está ubicada la empresa</span
        >
      </div>

      <app-input-gradient
        label="Número de guía"
        type="string"
        [formControlValue]="guia"
      >
      </app-input-gradient>
      <div class="validators" *ngIf="guia.dirty && guia.errors">
        <span *ngIf="guia.errors?.['required']">Ingresa el No. de guía.</span>
      </div>

      <app-input-gradient
        label="Placa"
        type="string"
        [formControlValue]="placa"
      >
      </app-input-gradient>
      <div class="validators" *ngIf="placa.dirty && placa.errors">
        <span *ngIf="placa.errors?.['required']"
          >Ingresa la placa del vehiculo.</span
        >
      </div>

      <ion-grid>
        <ion-row class="btn">
          <ion-col align-items-center class="bg-icon-btn" size="2">
            <ion-icon
              style="font-size: 25px"
              src="../../../../assets/icon/location_analysis.svg"
              (click)="getCurrentPosition()"
            ></ion-icon>
          </ion-col>

          <ion-col
            *ngIf="!(longitude && latitude)"
            align-items-start
            class="label-btn"
          >
            Ubicación
          </ion-col>
          <ion-col
            *ngIf="longitude && latitude"
            align-items-start
            class="label-btn"
          >
            {{ latitude }}, {{ longitude }}
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Button -->
      <div *ngIf="!loading" class="btn-gradient">
        <ion-button
          (click)="updateReport()"
          [disabled]="!validator()"
          mode="ios"
        >
          <span>Comenzar</span>
        </ion-button>
      </div>

      <!-- Button Loading-->
      <div *ngIf="loading" class="btn-gradient">
        <ion-button class="btn-loading" disabled mode="ios">
          <span>
            <ion-spinner slot="end" color="dark"></ion-spinner>
          </span>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
