ion-modal {
  &.center {
    --width: calc(100% - 2em);
    align-items: center;
    --height: auto;
    .ion-page {
      position: relative;
      display: block;
      contain: content;
    }
  }
}

.label {
  font-size: 16px;
}

.gradient-input-error {
  width: 100%;
  position: relative;
  background: var(--ion-color-danger);
  padding: 2px;
  border-radius: 25px;

  ion-input,
  ion-select,
  ion-item,
  ion-date {
    width: 100%;
    border-radius: 25px;
    --border-radius: 25px;
    font-size: 16px;
    background: white;
    color: var(--ion-color-medium);
    --placeholder-opacity: 50%;
    --min-height: 48px;
  }
}
.gradient-input {
  width: 100%;
  position: relative;
  background: var(--ion-color-secondary);
  padding: 2px;
  border-radius: 25px;
  margin-bottom: 15px;

  input {
    border: 0;
    outline: none;
  }

  ion-input,
  ion-select,
  ion-item,
  ion-date {
    width: 100%;
    border-radius: 25px;
    --border-radius: 25px;
    font-size: 16px;
    background: white;
    color: var(--ion-color-medium);
    --placeholder-opacity: 50%;
    --min-height: 48px;
  }

  input:focus {
    outline: unset;
  }

  ion-buttons ion-button {
    position: absolute;
    left: -20px;
    background: var(--ion-color-secondary);
    width: 60px;
    height: 50px;
    border-radius: 25px;
  }
}

.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
  margin-left: 20px;
}

.list-md {
  padding-top: 0px;
  padding-bottom: 0px;
  background: none;
}
