<app-header
  backButton="/tabs/analysis/take-photos"
  title="Análisis: Limón"
></app-header>

<ion-content>
  <div class="btn-container">
    <!-- Añadir árbol -->
    <div class="btn-gradient">
      <ion-button routerLink="/tabs/analysis/take-photos" mode="ios">
        <span>Añadir árbol</span>
      </ion-button>
    </div>

    <!-- Generar Reporte -->
    <div *ngIf="!loading" class="btn-gradient">
      <ion-button
        (click)="getLote()"
        [disabled]="!analysisFormData().trees.length"
        mode="ios"
      >
        <span>Generar reporte</span>
      </ion-button>
    </div>
  </div>

  <ion-segment class="ion-padding-top" [(ngModel)]="segment">
    <ion-segment-button value="pending">
      <ion-label>Árboles Pendientes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ready">
      <ion-label>Árboles Analizados</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- =========================== Árboles Pendientes ========================== -->

  <div
    *ngIf="segment == 'pending' && (analysisFormData().pendingTrees.length && !loading)"
    class="table-container"
  >
    <div class="msg">
      Cada análisis puede tomar entre 13 y 15 minutos. Recuerda tener una buena
      conexión antes de realizar un análisis

      <!-- <div class="btn-gradient">
        <ion-button routerLink="/tabs/reports" mode="ios">
          <span>Analizar Todo</span>
        </ion-button>
      </div> -->
    </div>

    <table>
      <thead>
        <th>Número</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Analizar</th>
        <th>Eliminar</th>
      </thead>

      <tr *ngFor="let p of analysisFormData().pendingTrees; index as i">
        <td>
          {{analysisFormData().trees.length ? (1 +
          analysisFormData().trees.length) : (i + 1)}}
        </td>
        <td>{{ p | date: 'dd/MM/yyyy' }}</td>
        <td>{{ p | date: 'h:mm a' }}</td>
        <td>
          <ion-icon
            (click)="startAnalysis(p)"
            class="option-icon"
            src="assets/icon/icon-analisis.svg"
          ></ion-icon>
        </td>

        <td>
          <ion-icon
            (click)="confirmDeletePendingTree(p)"
            class="option-icon"
            name="trash-outline"
          ></ion-icon>
        </td>
      </tr>
    </table>
  </div>

  <!-- =========================== Sin Árboles Pendientes ========================== -->
  <div
    style="padding-top: 15vh"
    *ngIf="segment == 'pending' && (!analysisFormData().pendingTrees.length && !loading)"
  >
    <app-empty-array
      iconSrc="assets/icon/icon-analisis.svg"
      text="No hay árboles pendientes por analizar"
    >
    </app-empty-array>
  </div>

  <div *ngIf="loading" style="padding-top: 15vh" class="ion-text-center">
    <ion-spinner
      style="padding: 40px"
      color="primary"
      name="crescent"
    ></ion-spinner>
  </div>

  <!-- =========================== Árboles Analizados ========================== -->

  <div
    *ngIf="segment == 'ready' && (analysisFormData().trees.length && !loading)"
    class="table-container"
  >
    <table>
      <thead>
        <th>Número</th>
        <th>Detección</th>
        <th>Ver</th>
        <th>Rehacer</th>
        <th>Eliminar</th>
      </thead>
      <tr *ngFor="let t of analysisFormData().trees; index as i">
        <td>{{i + 1}}</td>
        <td>{{t.lemons.confidenceAvergae.toFixed(2) * 100}}%</td>
        <td>
          <ion-icon
            routerLink="/tabs/analysis/analysis-resumen/{{i}}"
            class="option-icon"
            src="assets/icon/icon-reportes.svg"
          ></ion-icon>
        </td>
        <td>
          <ion-icon
            (click)="confirmRedoAnalysis(i)"
            class="option-icon"
            src="assets/icon/icon-analisis.svg"
          ></ion-icon>
        </td>
        <td>
          <ion-icon
            (click)="confirmDeleteTree(i)"
            class="option-icon"
            name="trash-outline"
          ></ion-icon>
        </td>
      </tr>
    </table>
  </div>

  <!-- =========================== Sin Árboles Analizados ========================== -->
  <div
    style="padding-top: 15vh"
    *ngIf="segment == 'ready' && (!analysisFormData().trees.length && !loading)"
  >
    <app-empty-array
      iconSrc="assets/icon/icon-analisis.svg"
      text="No hay árboles analizados"
    >
    </app-empty-array>
  </div>
</ion-content>
