.logo {
  margin-top: 1%;
}

ion-item ion-label {
  font-size: 18px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-slide {
  width: 90%;
  height: 90%;
}

h1 {
  font-weight: 700;
  font-size: 23px;
  line-height: 20px;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin: 1% 5%;
}

h6 {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 1% 4% 3% 4%;
}

.btn-gradient {
  padding-top: 0;
}
