.wrapper{
  text-align: center;
}

.swiper{
    padding-bottom: 30px;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-slide{
    font-size: 170px;
}

h1{
    font-weight: bold;
}

h4{
    font-weight: 450;
}

h6{
    font-weight: 400;
    padding: 20px 20px 10px 20px;
    margin: 0;
}

.btn-gradient{
    padding-top: 0;
}