<!-- Se usa en el componente D:\angular\WoodTrace\src\app\pages\auth\intro-->
<!--Para forzar el enrutamiento a este componente es necesario quitar el Guard de
D:\angular\WoodTrace\src\app\app-routing.module.ts -->

<div class="wrapper ion-text-center">
  <!-- Logo -->
  <img class="logo" src="/assets/icon/wt_Group424.svg" />

  <!-- Slider -->
  <!-- El contenido de los slides se encuentra en 
    D:\angular\WoodTrace\src\assets\data\help-slides.ts-->

  <swiper
    class="swiper"
    [config]="config"
    #swiper
    [virtual]="true"
    (slideChange)="onSlideChange($event)"
  >
    <ng-template *ngFor="let h of helpSlides" swiperSlide>
      <div>
        <ion-grid class="grid-slide">
          <ion-row>
            <ion-col
              ><h1>{{ h.title }}</h1></ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col
              ><h4>{{ h.subtitle }}</h4></ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col>
              <img class="img-slide" [src]="h.img" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col
              ><h6>{{ h.message }}</h6></ion-col
            >
          </ion-row>
        </ion-grid>
      </div>
    </ng-template>
  </swiper>

  <!-- Buttons Next and Prev Slide-->
  <div class="btn-container animate__animated animate__fadeIn">
    <div *ngIf="slideActive" class="btn-gradient">
      <ion-button (click)="slidePrev()" mode="ios">
        <span>Volver</span>
      </ion-button>
    </div>
    <div *ngIf="slideActive !== 4" class="btn-gradient">
      <ion-button (click)="slideNext()" mode="ios">
        <span>Siguiente</span>
      </ion-button>
    </div>

    <div *ngIf="slideActive === 4" class="btn-gradient">
      <ion-button (click)="goToRoot()" mode="ios">
        <span>Entendido </span>
      </ion-button>
    </div>
  </div>
</div>
