<div class="ion-text-center">
  <!-- <div class="safe-p-top"></div> -->

  <!-- Logo -->
  <img class="logo" src="../../../../assets/icon/wt_Group424.svg" />

  <!-- Slider -->
  <swiper
    class="swiper"
    [config]="config"
    #swiper
    [virtual]="true"
    (slideChange)="onSlideChange($event)"
  >
    <ng-template *ngFor="let h of helpSlides" swiperSlide>
      <div>
        <ion-grid style="margin-bottom: 20px">
          <ion-row>
            <ion-col
              ><h1>{{ h.title }}</h1></ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col
              ><h4>{{ h.subtitle }}</h4></ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col>
              <img class="img-slide" [src]="h.img" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col
              ><h6>{{ h.message }}</h6></ion-col
            >
          </ion-row>
        </ion-grid>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div>
        <ion-grid style="margin-bottom: 20px">
          <ion-row>
            <ion-col><h1>Contáctanos</h1></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><h4>¡Estamos listos para servirte!</h4></ion-col>
          </ion-row>
          <ion-row>
            <ion-col
              ><h6>
                Puedes hablar con nosotros por medio de nuestro correo
                electrónico, teléfono y página web.
              </h6></ion-col
            >
          </ion-row>
          <ion-row>
            <ion-col>
              <img
                class="img-slide"
                src="../../../../assets/icon/Fredservicio.svg"
              />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col
              ><h6>
                Puedes encontrar nuestros datos de contacto dentro del botón de
                “ayuda” en el menú de tu perfil.
              </h6></ion-col
            >
          </ion-row>
        </ion-grid>
      </div>
    </ng-template>
  </swiper>

  <!-- Buttons Next and Prev Slide-->
  <div class="btn-container animate__animated animate__fadeIn">
    <div *ngIf="slideActive" class="btn-gradient">
      <ion-button (click)="slidePrev()" mode="ios">
        <span>Volver</span>
      </ion-button>
    </div>
    <div *ngIf="slideActive !== 4" class="btn-gradient">
      <ion-button (click)="slideNext()" mode="ios">
        <span>Siguiente</span>
      </ion-button>
    </div>

    <div *ngIf="slideActive === 4" class="btn-gradient">
      <ion-button (click)="goToRoot()" mode="ios">
        <span>Entendido </span>
      </ion-button>
    </div>
  </div>

  <!-- <div class="safe-p-bottom"></div> -->
</div>
