.wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

ion-item ion-label {
  font-size: 18px;
}

// .swiper-pagination-bullet {
//   background-color: red;
//   opacity: 1;
// }

// span.swiper-pagination-bullet.swiper-pagination-bullet-active {
//   background-color: blue;
//   opacity: 1;
// }

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-slide {
  font-size: 170px;
  filter: blur(150px);
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

h6 {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.btn-gradient {
  padding-top: 0;
}
