.label {
    font-size: 13px;
    padding-bottom: 5px;
}

.gradient-input {
    width: 100%;
    position: relative;
    background: linear-gradient(to right, var(--ion-color-secondary), var(--ion-color-primary));
    padding: 1px;
    border-radius: 10px;

input{
    border: 0;
    outline: none;
}

    ion-input,
    ion-select,
    ion-item {
        width: 100%;
        border-radius: 10px;
        font-size: 13px;
        background: white;
        color: var(--ion-color-dark);
        --placeholder-opacity: 50%;
        --min-height: 48px;
    }

    ion-buttons ion-button{
        border-right: 1.5px solid var(--ion-color-primary);
    }
}