<div class="ion-padding-bottom">

  <div class="label animate__animated animate__fadeIn"
    *ngIf="(formControlValue && formControlValue.value) && type !== 'button'">{{label}}</div>
  <div class="gradient-input">

    <!-- Input -->

    <ion-item lines="none" *ngIf="!noInputValues.includes(type)">
      <ion-input debounce="400" [minlength]="min" [maxlength]="max" [formControl]="formControlValue"
        [placeholder]="label" [type]="type"></ion-input>
      <ion-icon *ngIf="isPassword" slot="end" (click)="showAndHide()" [name]="hide ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
    </ion-item>

    <!-- Select -->

    <ion-item lines="none" *ngIf="type == 'select'">
      <ion-select cancelText="Cancelar" okText="Aceptar" [formControl]="formControlValue" [placeholder]="label">
        <ion-select-option class="ion-text-wrap" *ngFor="let s of selectOptions" [value]="s.value">{{s.content}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Button -->
    <ion-item class="ion-activatable ripple-parent" lines="none" *ngIf="type == 'button'">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="start" color="primary" [name]="icon"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label class="ion-text-wrap">{{label}}</ion-label>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-item>

  </div>

</div>