<div class="ion-padding-bottom">

  <div class="label animate__animated animate__fadeIn" *ngIf="formControlValue.value">{{label}}</div>
  <div class="gradient-input">

    <!-- Input -->


    <ion-item lines="none" *ngIf="type !== 'select'">
      <ion-input debounce="400" [minlength]="min" [maxlength]="max" [formControl]="formControlValue"
        [placeholder]="label" [type]="type"></ion-input>
        <ion-icon *ngIf="isPassword" (click)="showAndHide()" [name]="hide ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
    </ion-item>

    <!-- Select -->

    <ion-item lines="none" *ngIf="type == 'select'">
      <ion-select cancelText="" interface="action-sheet" [formControl]="formControlValue" [placeholder]="label">
        <ion-select-option class="ion-text-wrap" *ngFor="let s of selectOptions" [value]="s.value">{{s.content}}
        </ion-select-option>
      </ion-select>
    </ion-item>



  </div>

</div>