.wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-logo {
  padding-bottom: 40px;
}

.header {
  text-align: center;
}

.form {
  padding: 20px;
}

.btn-loading {
  width: 150px;
}

.footer {
  padding-top: 60px;
  text-align: center;

  ion-text {
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}

.invalid {
  background: var(--ion-color-danger);
}
