.wrapper {
  display: flex;
  justify-content: center;
  padding: 15px 20px 0px 15px;
}

a {
  color: var(--ion-color-secondary, #3880ff);
}

ion-avatar {
  margin: 0 auto;
  width: 230px;
  height: 230px;
  --border-radius: 10px;
}
ion-avatar img {
  width: 100% !important;
  height: 100% !important;
}
