<app-header (click)="logOut()" backButton="/login" title="Verificar Email"></app-header>

<ion-content>

  <div class="wrapper ion-text-center">
    <div>
      <h4 class="ion-text-center ion-padding">Te hemos enviado un correo a <strong>{{user.email}} </strong> con un
        enlace para poder verificarlo</h4>
       <h6>El correo podría haber llegado en la bandeja de Spam o No deseados</h6>
        <!-- Cerrar sesión -->
   
      <div class="btn-gradient">
        <ion-button (click)="logOut()"  mode="ios">
          <span>Volver</span>
        </ion-button>
      </div>

    </div>

  </div>



</ion-content>