.wrapper {
    padding-top: constant(safe-area-inset-top); // for ios 13+
    padding-top: env(safe-area-inset-top); // for previous ios versions
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {

    text-align: center;

    .name {
        padding-top: 10px;
    }

    .active {
        padding-top: 1px;
        font-size: 14px;
        font-weight: bold;
    }

}

.btn-container {
    padding-top: 20px;
    width: 320px;
}