.wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {

    text-align: center;

    .name {
        padding-top: 10px;
    }

    .active {
        padding-top: 1px;
        font-size: 14px;
        font-weight: bold;
    }

}

.btn-container {
    padding-top: 20px;
    width: 320px;
}