.wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info{

    text-align: center;

    .active{
        padding-top: 5px;
        font-size: 14px;
        color: var(--ion-color-medium-tint);
    }
    
}

.btn-container{
    padding-top: 20px;
    width: 320px;
}