.swiper {
  padding-bottom: 5%;
}

p {
  padding: 1% 4% 4% 4%;
}

.d-flex {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_slide {
  width: 75%;
  height: 75%;
}
