.swiper {
  padding-bottom: 20px;
}

p {
  padding: 10px 20px 10px 20px;
}

.d-flex {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
