<app-header backButton="/tabs/analysis" title="Como Analizar"></app-header>

<ion-content>
  <swiper
    class="swiper"
    [config]="config"
    #swiper
    [virtual]="true"
    (slideChange)="onSlideChange($event)"
  >
    <ng-template swiperSlide>
      <div class="ion-text-center d-flex">
        <div>
          <h1>Paso 1</h1>
          <p>Selecciona la especie reportada de la madera a analizar</p>
          <img src="assets/img/paso1_analysis.svg" alt="" />
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="ion-text-center d-flex">
        <div>
          <h1>Paso 2</h1>
          <p>Toma una foto o sube una que hayas tomado antes.</p>
          <img src="assets/img/paso2_analysis.svg" alt="" />
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="ion-text-center d-flex">
        <div>
          <h1>Paso 3</h1>
          <p>
            Asegurate de tener una lupa x60 en la cámara posterior del celular.
          </p>
          <img src="assets/img/paso3-gif_analysis.gif" alt="" />
        </div>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="ion-text-center d-flex">
        <div>
          <h1>Paso 4</h1>
          <p>
            Toma una muestra de la madera, acerca el celular, tómale una foto,
            verifica el análisis y guardalo.
          </p>
          <img src="assets/img/paso4_analysis.svg" alt="" />
        </div>
      </div>
    </ng-template>

    <!-- Paso 4 -->
    <ng-template swiperSlide>
      <div class="ion-text-center d-flex">
        <div>
          <h1>Paso 5</h1>
          <p>
            Perfecto! Por ultimo, añade muestras al reporte o generalo para
            finalizar.
          </p>
          <img src="assets/img/paso5-analisys.svg" alt="" />
        </div>
      </div>
    </ng-template>
  </swiper>

  <div class="btn-container animate__animated animate__fadeIn">
    <div *ngIf="slideActive" class="btn-gradient">
      <ion-button (click)="slidePrev()" mode="ios">
        <span>Volver</span>
      </ion-button>
    </div>
    <div *ngIf="slideActive !== 3" class="btn-gradient">
      <ion-button (click)="slideNext()" mode="ios">
        <span>Siguiente</span>
      </ion-button>
    </div>

    <div *ngIf="slideActive === 3" class="btn-gradient">
      <ion-button (click)="goToRoot()" mode="ios">
        <span>Entendido </span>
      </ion-button>
    </div>
  </div>
</ion-content>
